<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ .Site.Title }}
    </title>

    <meta name="referrer" content="no-referrer-when-downgrade" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>

    {{ $style := resources.Get "style.css" | resources.Minify }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet" />

    {{ with .Params.style }}
      {{ $extra := resources.Get . | minify }}
      <link href="{{ $extra.RelPermalink }}" rel="stylesheet" />
    {{ end }}
  </head>

  <body>
    <header>
      <a href="#activities">Activities</a> ·
      <a href="#projects">Projects</a> ·
      <a href="#teaching">Teaching</a> ·
      <a href="#software">Software</a> ·
      <a href="#publications">Publications</a>
    </header>

    <main>
      {{ block "main" . }}{{ end }}
    </main>

    <footer>
    </footer>
  </body>
</html>
