:root {
    --font-color: #444;
    // --hl-color: rgb(106, 25, 125);
    // --hl2-color: rgb(255, 165, 176);
    // --bg-color: rgb(245, 245, 245);
    // --bg2-color: rgb(224, 222, 222);

    --hl-color: #E57C04;
    --hl2-color: #F58C14;
    --bg-color: #eee;
    --bg2-color: #444;

    
    --indent: 24pt;
}

@media (prefers-color-scheme: a) {
    :root {
        --font-color: rgb(248, 237, 237);
        --hl-color: rgb(255, 130, 37);
        --hl2-color: rgb(180, 63, 63);
        --bg-color: rgb(23, 59, 69);
    }
}

span.entry {
    padding-right: 2.5ex;
}

a {
    color: var(--hl-color);
    text-decoration: underline;
}

a:visited,
a:hover,
a:active {
    color: var(--hl2-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}

header {
    text-align: center;
    background-color: var(--bg2-color);
    padding: 1ex;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 80%;
    color:white;
}

h1,
h2,
h3 {
    font-family: sans-serif;
    color: var(--hl-color);
}

.left {
    float: left;
    padding:0;
    margin-right:1ex;
    margin-top: .8ex;
    margin-bottom:0ex;
    text-align:center;
    
    img {
        max-width: 10em;
        padding:0;
        margin:0;
        text-align:center;
    }
}

//li {list-style: inside;}

main {
    min-width: 30em;
    max-width: 60em;
    margin: auto;


    p,
    .highlight
    {
        padding-left: 2em;
        padding-right: 2em;
        text-justify: kashida;
    }
    
    ul, ol {
        padding-left: 4em;
        padding-right: 4em;            
    }

    img {
        max-width:50em;
        width:100%;
        margin:.5ex;
        object-fit: contain
    }
    
    h2 {
        border-bottom: 3px solid var(--hl-color);
    }

    h1 {
        padding-left: var(--indent);
        padding-right: var(--indent);
    }

    h2,
    h3,
    h4 {
        padding-left: var(--indent);
        padding-right: var(--indent);
    }
}

article {
    //border-bottom: 1px solid var(--hl-color);
}

.articles {
    display:grid;
    grid-template-columns:50% 50%;
    gap: 0ex;
}

.time {
    text-align:right;
    margin-top:-1em;
    padding-top:0;
    font-style:italic;
}

.highlight{
    pre {
        padding:1ex;
        width:100%;
    }
}

.img-black  {background-color:black}
