<div class="columns" style="font-size:120%; background: #eee; padding:1em; border-radius: 0px 25px 0px 25px;">
  <div class="column col-3">
    {{ if (.Get "img") }}
    <img width="200px" src="{{ .Site.BaseURL }}/user-images-250px/{{ .Get "img" }}.webp" />
    {{ end }}
  </div>
  <div class="column col-6">
    <p>
      <strong>{{ .Get "name"}}</strong><br>
      {{ safe.HTML (.Get "position") }}
      <br>
    </p>

    <p>
      <a href="mailto:{{ .Get "mail" }}">{{ .Get "mail" }}</a><br>
    </p>

    <p>
      {{ .Get "loc"}} <br>
      Am Fasanengarten 5<br>
      DE-76131 Karlsruhe<br>
      Germany<br>
    </p>

    <p>
      Phone: {{ .Get "phone"}}<br>
      Fax: {{ .Get "fax"}}
    </p>
  </div>
  <div class="column col-3" style="font-size:80%" >
    {{ with .Get "smime" }}
    <a href="{{.}}">S/MIME Cert</a><br>
    {{ end}}

    {{ if (.Get "fingerprint") }}
    <a href="{{ .Get "gpgfile" }}">GPG: {{.Get "fingerprint"}}</a><br>
    {{ end}}

    {{ with .Get "matrix" }}
    <a href="https://to.matrix.kit.edu/#/{{.}}">
      <i class="fa fa-matrix-org" aria-hidden="true"></i>
      {{.}}</a><br>
    {{ end}}


    {{ with .Get "orcid" }}
      <a href="https://orcid.org/{{.}}">
	<i class="fa fa-orcid" aria-hidden="true"></i>
	{{.}}</a><br>
    {{ end}}

    {{ with .Get "github" }}
	<a href="https://github.com/{{.}}">
	  <i class="fa fa-github" aria-hidden="true"></i>
	  {{.}}</a><br>
    {{ end}}

    {{ with .Get "gitlab" }}
	<a href="https://gitlab.com/{{.}}">
	  <i class="fa fa-gitlab" aria-hidden="true"></i>
	  {{.}}</a><br>{{ end}}

    {{ with .Get "gscholar" }}
	<a href="https://scholar.google.com/citations?user={{.}}">
	  <i class="ai ai-google-scholar-square ai-1x"></i>
	  Goolge Scholar</a><br>
{{ end}}

    {{ with .Get "dblp" }}
	<a href="https://dblp.uni-trier.de/pid/{{.}}.html">
	  <i class="ai ai-dblp-square ai-1x"></i>
	  DBLP</a><br>{{ end}}
  </div>
</div>
